.sombra{
    filter: drop-shadow(3px 3px 5px #0275d8 );
}


.aparecer {
    animation: aparecer 2s;
}

.capa-mulher{
    animation: mulher 2s;
}

@keyframes aparecer{
    from{
        padding-left: 150px;
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes mulher{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}